.contact {
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: $color-black-almost;
    color: darken($color-white, 10%);
    font-family: $font-raleway;
    line-height: 18px;

    .contact__container__boxes {
        max-width: 1366px;
        display: flex;
        justify-content: space-evenly;

        .contact__container {
            box-sizing: border-box;

            &:first-child {
                width: 35%;
                text-align: justify;
                padding: 20px 0 20px 20px;

                h3 {
                    font-weight: 700;
                    text-transform: uppercase;
                    padding-bottom: 30px;
                    color: $color-white;
                    span {
                        color: $color-main;
                    }
                }
                p {
                    font-size: 16px;
                    line-height: 1.5;
                    color: $color-white;
                }
            }
            &:last-child {
                width: 35%;
                height: 100%;
                padding: 20px 0 20px 20px;

                .contact__container--contact {
                    display: flex;
                    flex-direction: column;
                    h3 {
                        font-weight: 700;
                        text-transform: uppercase;
                        padding-bottom: 30px;
                        color: $color-main;
                    }
                    .email-address-container .email-address-text {
                        letter-spacing: 1px;
                        color: $color-white;
                        line-height: 1.5;
                    }
                    .contact__socialMedia {
                        display: flex;
                        flex-direction: row;

                        .socialMedia {
                            display: flex;
                            padding: 25px 40px 0 0;
                            font-size: 23px;
                            a {
                                color: $color-white;
                                font-size: 23px;
                                transition: 0.7s;
                                &:hover {
                                    color: $color-main;
                                    transition: 0.7s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.contact__footer {
    width: 100vw;
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: darken($color-white, 20%);
    font-family: $font-raleway;
    .photos {
        margin: 10px;
        font-weight: 400;
    }
    .developer {
        // font-weight: 600;
        margin-bottom: 10px;
        text-align: center;

    }
    a {
        color: darken($color-main, 20%);
        text-decoration: none;
        transition: 0.7s;
        &:hover {
            color: $color-main;
            transition: 0.7s;
        }
    }
}

@media only screen and (max-width: $xxl-max-width) {
    .contact {
        height: auto;
        
        .contact__container:first-child p {
            font-size: 15px;
            padding: 0 40px 0 0;
        }
    }
}

@media screen and (max-width: $lg-max-width) {
    .contact {
        padding: 20px 0;
        .contact__container__boxes {
            flex-direction: column;

            .contact__container {
                display: flex;
                // width: 100%;
                height: auto;
                &:first-child {
                    width: 100%;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    p {
                        padding: 0;
                        width: 70%;
                    }
                }
                &:last-child {
                    width: 100%;
                    padding: 30px 20px;
                    display: flex;
                    justify-content: center;
                }
                h3 {
                    text-align: center;
                }
                // .contact--links {
                //     padding: 15px;
                // }
            }
        }
    }
    .contact__container--aboutme {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact .contact__container__boxes .contact__container:last-child .contact__container--contact h3 {
        font-weight: 700;
        text-transform: uppercase;
    }
    .contact .contact__container__boxes .contact__container:last-child .contact__container--contact .contact__socialMedia {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .socialMedia {
            padding: 20px 15px 0;
        }
    }
}
@media screen and (max-width: $md-max-width) {
    .contact {
        padding: 30px 0 20px 0;
        flex-direction: column;
    }
    .contact .contact__container:last-child .contact__container--contact .contact__socialMedia .socialMedia {
        display: flex;
        padding: 25px 25px 10px 25px;
        font-size: 23px;
    }
    span.email-text {
        display: none;
    }
    .contact__footer {
        width: 100vw;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #cccccc;
        font-family: "Raleway", sans-serif;
        font-size: 12px;
    }
}
@media screen and (max-width: 350px) {
    .contact .contact__container:last-child .contact__container--contact .email-address-container .email-address-text {
        letter-spacing: 0px;
        color: #ffbc04;
    }
    .contact .contact__container .contact--links {
    padding: 0px;
    }
}