.alice-carousel__next-btn {
    position: absolute;
    right: 21px;
    top: 40%;
    width: 0 !important;
    color: $color-main;
    font-size: 30px;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
        opacity: 1
    }
}
.alice-carousel__prev-btn {
    position: absolute;
    left: 9px;
    top: 40%;
    width: 0 !important;
    color: $color-main;
    font-size: 30px;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
        opacity: 1
    }
}
.alice-carousel__stage-item {
    display: inline-flex !important;
}
.alice-carousel__stage-item * {
    display: -webkit-inline-box;
    height: 380px;
    @media  (max-width: 700px) {
        height: 250px;

    }
}