.react-multi-carousel-item {
    padding: 10px 0 10px 10px;
    background: $color-black;
    &:first-child {
        padding-left: 0px;
    }
}
.react-multiple-carousel__arrow {
    background: #ffbc0499 !important;
    &:hover {
        background: #ffbc0470 !important;
    }
    
}