.quotes {
    height: 50vh;
    width: 100vw;
    // background-color: $color-black;
    // background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
        content: "";
        background-color: $color-black;
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0.85;
    }
    .quotes__container {
        color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        span {
            font-style: italic;
            font-size: 20px;
            color: $color-main;
        }
        .quotes__container--singleQuote {
            font-size: 25px;
            padding: 50px 0px 40px 0px;
            text-align: center;
        }
        .quotes__container--decoration {
            font-size: 35px;
        }
    }
}
@media screen and (max-width: $lg-max-width) {
    .quotes .quotes__container {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        text-align: center;
        padding: 50px;
    }
}
@media screen and (max-width: 430px) {
    .quotes .quotes__container .quotes__container--decoration {
        font-size: 30px;
    }
    .quotes .quotes__container .quotes__container--singleQuote {
        font-size: 14px;
        padding: 26px 0px 40px 0px;
        text-align: center;
    }
    .quotes .quotes__container span {
        font-style: italic;
        font-size: 15px;
        color: #ffbc04;
    }
}