.biography {
    height: 100vh;
    width: 100vw;
    // background-color: darken($color-white, 5%);
    // box-shadow: inset 0px 60px 50px 0px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid lighten($color-black-almost, 30%);
    // background-image: url("../../assets/DSC_4202ak.jpg");
    .biography__content {
        // width: 1200px;
        display: flex;
        flex-direction: row;
        height: 100%;
        background-color: $color-white;

        .biography__content--left {
            width: 50vw;
            display: flex;
            align-items: center;
            .biography__content--left__content {
                padding: 0;
                .biography__content--title {
                    font-size: 50px;
                    position: relative;
                    padding-bottom: 20px;
                    margin-bottom: 30px;
                    &::after {
                        content: "";
                        height: 3px;
                        width: 100px;
                        background-color: $color-dark-blue;
                        position: absolute;
                        bottom: 0;
                        left: 46.5%;
                    }
                }
                .biography__content--text {
                    font-size: 18px;
                    margin: 50px;
                    text-align: justify;
                }
                .biography__content--button {
                    font-family: $font-raleway;
                    border: 1px solid $color-dark-blue;
                    background-color: $color-white;
                    border-radius: 2px;
                    padding: 10px 20px;
                    transition: 1s;
                    a {
                        color: $color-dark-blue;
                        text-decoration: none;
                    }

                    &:hover {
                        box-shadow:  0px 0px 4px 0px lighten($color-dark-blue, 10%);
                        transition: 0.8s;
                    }
                }
            }
        }
        .biography__content--right {
            background-image: url("../../assets/IMG_9785.jpg");
            background-size: cover;
            height: 100%;
            width: 50vw;
        }
    }
}