.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    &::before {
        content: "";
        height: 30px;
        width: 100vw;
        background-color: $color-black-almost;
        position: absolute;
        z-index: 9;
    }

    .main__navbar {
        // height: 20%;
        width: 100vw;

        .main__navbar--background {
            display: flex;
            .main__navbar--background__img {
                height: 100vh;
                width: auto;
                &::before {
                    content: "";
                    height: 1px;
                    width: 100vw;
                    background-color: red;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    .main__content {
        height: 100%;
        
    }
}
