.navbar {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: $font-raleway;
    width: 100%;
    // position: fixed;
    .navbar__ul {
        display: flex;
        // width: 75%;
        // height: 20vh;
        justify-content: center;
        align-items: center;
        padding: 100px 0 50px 0;
        .navbar__li--dnone {
            display: none;
        }
        .navbar__li a {
            text-decoration: none;
            color: $color-black-almost;
            text-transform: uppercase;
            padding: 30px;
            border-bottom: 1px solid $color-white;
            outline: none;
            transition: 0.7s;



            &:hover, &:active {
                color: $color-dark-blue;
                border-bottom: 1px solid $color-dark-blue;
                transition: 1s;
                outline: none;
            }
            // &:active, &:focus {
            //     border: none;
            // }
        }
    }
}