body {
    display: flex;
    .mainViewAside {
        height: 100vh;
        width: 70vh;
    }

    .mainView {
        height: 100vh;
        width: 30vw;
        background-image: url(../../assets/Main.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }    
}
